<div class="header flex flex-row justify-between">
  <div class="flex flex-row items-center ml-5" *ngIf="!(noHeaders$ | async)">
    <img src="../../../assets/images/logo.png" width="100px" height="auto" class="logo" />
    <div class="flex flex-col items-center lg:gap-y-8">
      <span class="title"> mammamia </span>
      <span class="sub-title"> Italian Restaurant </span>
    </div>
  </div>
  <div class="view flex flex-col items-end mr-10">
    <div class="user-info flex flex-row items-end justify-end">{{(currentUsr$  | async)?.name}}</div>
    <div class="controls" *ngIf="!isMobile">
      <app-footer></app-footer>
    </div>
    
  </div>
</div>