.orders{
  min-height: calc(100vh - 270px);
  width: 100%;
  .order{
    width: 300px;
    font-size: 14px;

    .close{
      cursor:pointer;
    }
    
    .order-number{
      background: #a02b40;
      border-radius: 50%;
      width:22px;
      height:22px;
      color: white;
      font-weight: bold;
      font-size: 17px
    }
  
    .cont{
      background: white;
      padding: 7px;
    };
    .item{
      border-bottom: 1px solid rgb(167, 165, 165)
    }

    .more-vert{
      cursor: pointer;
    }

    .order-title{
      padding-top:5px;
      font-style: italic;
      background: #ddd
    }
  }

  
  .paper-shadow {
    position: relative;
    background: #fff;
    box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
  }
  .paper-shadow:after, .paper-shadow:before{
    content: '';
    position: absolute;
    left: auto;
    background:none;
    z-index: -1;
  }
  .paper-shadow:after{
    width: 90%;
    height: 10px;
    top: 30px;
    right:8px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-box-shadow: 0px -20px 36px 5px #295d92;
    -moz-box-shadow: 0px -20px 36px 5px #295d92;
    box-shadow: 0px -25px 35px 0px rgba(0,0,0,0.5);
  }

  .paper-shadow:before{
    width: 10px;
    height: 95%;
    top: 5px;
    right:18px;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    -webkit-box-shadow: 20px 0px 25px 5px #295d92;
    -moz-box-shadow: 20px 0px 25px 5px #295d92;
    box-shadow: 22px 0px 35px 0px rgba(0,0,0,0.5);
  }
}